@import "tailwindcss";


  /* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg-color: #ffffff;  /* Light mode background */
  --text-color: #000000; /* Light mode text */
  --primary-color: #22c55e; /* Green */
  --secondary-color: #2563eb; /* Blue */
}

html.dark {
  --bg-color: #111827;  /* Dark mode background */
  --text-color: #fff; /* Neon Green */
  --primary-color: #16a34a; /* Dark Green */
  --secondary-color: #1e40af; /* Dark Blue */
}

/* Apply to Tailwind classes */
.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-page {
  background-color: var(--bg-color);
}

.text-page {
  color: var(--text-color);
}
